{% extends "main_template.html" %}

{% block title%}
    Register Page
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="h3 md-3 font-weight-normal">Create Account</h1>
        <br>
        <form method="POST" class="form-register" style="color:white">
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email") }}
            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}
            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
        </form>
    </div>
{% endblock %}